# [RVHS/2023/PRELIM/P2/Q1]
The task is to implement the class Animal and its inherited classes using OOP based on the information described below

<center>
<img src="img/2023_rvhs_p2_q1_img_1.png" width="600" align="center"/>
</center>

<center>
<img src="img/2023_rvhs_p2_q1_img_2.png" width="600" align="center"/>
</center>

<center>
<img src="img/2023_rvhs_p2_q1_img_3.png" width="600" align="center"/>
</center>

<center>
<img src="img/2023_rvhs_p2_q1_img_4.png" width="600" align="center"/>
</center>

## Task 1.1
Write program code to declare all the classes described above.
<div style="text-align: right">[18]</div>

## Task 1.2
Write program code to:
- create 8 instances of the following:
    - 1 Young Well Dog that is not owned with name "D01"
    - 1 Adult Sick Dog that is not owned with name "D02"
    - 1 Young Well Goose with name "G01"
    - 1 Adult Sick Goose with name "G02"
    - 1 Young Well non-poisonous Frog with name "F01"
    - 1 Adult Sick poisonous Frog with name “F02”
    - 1 Young 1m long Well non-poisonous Snake with name “S01”
    - 1 Adult 4m long Sick poisonous Snake with name “S02"
- Add all the 8 instances in a list. Iterate it and output all of them using the `__str__()` method.
<div style="text-align: right">[5]</div>

## Task 1.3
Write a function, `task1_3()` to:
- read the file `“Animals_lst.txt”`
- process its content and create the appropriate instances for each animal
- add all the instances in a Python list and return it.
The format of the information in `“Animals_lst.txt”` is as follow:
- If it is a dog,
    ```
    Dog, name, mass, volume, age, body_temperature, hasOwner
    ```
- If it is a goose,
    ```
    Goose, name, mass, volume, age, body_temperature
    ```
- If it is a frog,
    ```
    Frog, name, mass, volume, age, isPoisonous
    ```
- If it is a snake,
    ```
    Snake, name, mass, volume, age, isPoisonous, length
    ```
<div style="text-align: right">[3]</div>

## Task 1.4
Write a function, `task1_4(a_list, animal_type)` to:
- iterate `a_list` which contains different animal instances
- collect 4 pieces of information based on `animal_type` (see example below)
- output it in a table in the same format as show below.

For example,

```
>>> a_list = task1_3()
>>> task1_4(a_list, Dog)
-------------------------------
| Dog   | Well    | Sick      |
|-----------------------------|
| Young | 8       | 4         |
|-----------------------------|
| Adult | 6       | 2         |
-------------------------------
``` 
<div style="text-align: right">[3]</div>

Test your program with the following test data:

```
a_list = task1_3()
task1_4(a_list, Dog)
task1_4(a_list, Goose)
task1_4(a_list, Frog)
task1_4(a_list, Snake)
```
<div style="text-align: right">[1]</div>

## Task 1.5
Write a function, `task1_5(a_list, animal_type)` to:
- find all the young animal of animal_type that has its volume larger than that of the smallest adult animal of the same animal type
- return the name of this group of young animals in a list.
<div style="text-align: right">[4]</div>

## Task 1.6
Write a function, `task1_6(a_list)` to:
- filter out all the Cold Blood Animal in `a_list`
- perform merge sort on them according to their mass in ascending order
- return only the names of the cold blood animals in a list sorted according 
to their mass in ascending order.
<div style="text-align: right">[4]</div>

Test your program with the following test data:

```
a_list = task1_3()
task1_6(a_list)
```
<div style="text-align: right">[1]</div>

# [RVHS/2023/PRELIM/P2/Q2]
The task is to implement the class `Node` and class `SortedLinkedList` using the **free space** concept.

<center>
<img src="img/2023_rvhs_p2_q2_img_1.png" width="600" align="center"/>
</center>

<center>
<img src="img/2023_rvhs_p2_q2_img_2.png" width="600" align="center"/>
</center>

<center>
<img src="img/2023_rvhs_p2_q2_img_3.png" width="600" align="center"/>
</center>

## Task 2.1
Write program code to implement the two classes described above.
<div style="text-align: right">[14]</div>

## Task 2.2
Write a function, `task2_2()` to:
- create a `SortedLinkedList` instance
- add the following words in the same order in the sorted linked list:
    - "Orange"
    - "Banana"
    - "Grapes"
    - "Apple"
    - "Lemon"
    - "Eggplant"
- output the items in the sorted linked list.
<div style="text-align: right">[2]</div>

## Task 2.3
Write a function, `task2_3(filename)` to:
- read the file identified by `filename`
- split the content and return them in a list.
<div style="text-align: right">[1]</div>

Output the content of the files `“Task2a.txt”` and `“Task2b.txt”` using the following statements.

```
Itemlst1 = Task_2_3(“Task2a.txt”)
print(itemlst1)
itemlst2 = Task_2_3(“Task2b.txt”)
print(itemlst2)
``` 
<div style="text-align: right">[1]</div>

## Task 2.4
Write a function, `task2_4()` to:
- read the items from `"Task2a.txt"` and `"Task2b.txt"` and add them into two new `SortedLinkedList` instances `sl1` and `sl2` respectively,
- output all the common items in the two sorted linked lists using the class function `findCommon(sorted_list)`
<div style="text-align: right">[1]</div>

# [RVHS/2023/PRELIM/P2/Q3]

## Task 3.1
Write a function, `task3_1()` to:
- read the file `“Teachers.csv”`
- create a Mongo client to connect to the database
- use the data to populate the collection teacher in the database school
- do not create any field in the document if the value of the field is not provided. For example, the document with the field `Name Juli Barnhill` does not have a `Role` value, hence the field `Role` should not be in the document.
- data should be converted to appropriate data type before it is inserted into the database collection.
<div style="text-align: right">[5]</div>

## Task 3.2
Write a function, `task3_2()` to:
- query the collection `teacher` in the Mongo database `school`
- output all documents in the collection `teacher`
- If the field of the document does not exist, output `'-'` instead.
<div style="text-align: right">[3]</div>

## Task 3.3
Write a function, `task3_3()` to:
- query the collection `teacher` in the Mongo database `school`
- output the only the `_id` and `name` of teachers who **EITHER**
    - do not have both `Contact` and `Role` **OR**
    - have a rating below 1600
<div style="text-align: right">[2]</div>

## Task 3.4
Write a function, `task3_4()` to:
- update 1 teacher from the Physics department to Computing department in the collection `teacher` in the Mongo database `school`
<div style="text-align: right">[2]</div>

# [RVHS/2023/PRELIM/P2/Q4]

In a parallel universe, ABC Secondary School wishes to digitalise the enrolment process for its secondary 1 students. The school will need to create a suitable database to store records of student applicants’ details, results, and guardian contacts for the process. The database will have three tables: a table to store data about the students who opt to the school as 1st choice; a table about the results obtained by the students and a table to store guardian email contact of the students. All fields cannot be left empty.

`guardians`:
- `guardian_id` – unique guardian identification. For example, 900001
- `guardian_name` – name of guardian
- `guardian_email` – contact email of guardian

`students`:
- `student_id` – unique student identification. For example, 10001
- `stu_name` – name of student
- `gender` – gender of student. Can only accept male or female
- `primary_sch` – primary school which the student is from
- `guardian_id` – the unique identification reference for guardian. Different students may be taken care by same guardian

`results`:
- `student_id` – unique student identification. For example, 10001
- `subject` – subject name which student has taken.
- `al` – achievement level of the student’s subject between level 1 to 8. Can only accept 1 to 8

## Task 4.1
Write a Python program that uses SQL code to create database `ENROLMENT` with the three tables given. Define the primary and foreign keys for each table. Include the checks needed to constrain the values.
<div style="text-align: right">[7]</div>

## Task 4.2
Sample data sets for the different tables are created for testing the database and the programs using it. The csv files `“GUARDIAN.csv”`, `“STUDENT.csv”` and `“RESULT.csv”` store the comma-separated values for each of the tables in the database.

Write a Python program to read in the data from each file and then store each item of the data in the correct place in the database.
<div style="text-align: right">[6]</div>

## Task 4.3
The contact email of guardian is subjected to frequent changes thus would need to have a program to facilitate updates.

Write a Python program that uses <U>SQL code</U> to update the contact email according to `guardian_id`. Run the program to update `guardian_id` `900005` email contact to `see@see.com`
<div style="text-align: right">[2]</div>

## Task 4.4
The overall achievement level (AL) of a student is calculated by summing the achievement levels obtained for the 4 subjects by the student.

You can assume that the data sets are complete with all the students submitted having AL of all 4 subjects captured in the database.

Write a Python program and the necessary files to create a web application. The web application will return a HTML page to display a summary table with the following header and its associated information obtained and calculated from the enrolment database query using SQL code. 
- `Primary School` – primary school name
- `No. of Students` – number of students that are from the primary school
- `Mean Achievement Level` – average overall achievement level obtained by the students

The table should look below:

<center>

| Primary School        | No. Of Students | Mean Achievement Level |
|-----------------------|-----------------|------------------------|
| Boon Day Park Primary | 4               | 9.25                   |
| ...                   | ...             | ...                    |

</center>

The table will display the value rows in descending alphabetical order according to primary school name. Mean achievement level will be in 2 decimal places. The table shown on webpage must have visible border. 
Consider the following in the SQL for the query:
- multiply an `INTEGER` value by `1.0` to cast it into `REAL` value
- `ROUND (real number, 2)` to limit SQL `REAL` aggregated values to 2 decimal places.

Save your program code as
```
Task_4_4_5_<class>_<index>_<name>.py
```

With any additional files / subfolders as needed in a folder named
```
Task_4_4_5_<class>_<index>_<name>
```

Run the web application and save the returned page as
```
Task_4_4_<class>_<index>_<name>.html
```
<div style="text-align: right">[7]</div>

## Task 4.5
Students whose overall AL is lower or equal to a cutoff point will be enrolled into the school.

In the web application on the same web page as Task 4.4, add a text input for entering the cutoff point with an appropriate label and a submit button.

On submitting the cutoff point, the web application will return a page with a table containing student information of students applicants who will enroll into the school. The table will have the following headers and the associated information for each student record – **student name, gender, primary school, overall AL, guardian name and guardian email**

Update the Python program and create the necessary files in the same folder as Task 4.4 such that the web application will return a HTML page to display the student information table obtained and calculated from the enrolment database query using <u>SQL code</u>. 

The table will display the value rows in descending alphabetical order according to primary school name then followed by overall AL in ascending order. Table shown on webpage must have visible border. 

Run the web application with cutoff value of 11 and save the returned pages as
```
Task_4_5_<class>_<index>_<name>_1.html
Task_4_5_<class>_<index>_<name>_2.html
```

<div style="text-align: right">[8]</div>