**if you cannot view the tables properly in this notebook, open the 1_Databases.pdf file**

# 6 Database

- Determine the attributes of a database: table, record and field.
- Explain the purpose of and use primary, composite and foreign keys in tables.
- Explain with examples, the concept of data redundancy and data dependency.
- Reduce data redundancy to third normal form (3NF).
- Draw entity-relationship (ER) diagrams to show the relationship between tables.
- Sqlite3

## What is a Database ?

- A database is a **structured collection of organized data** that stored data persistently.
- It is designed to efficiently (CRUD operations)
    - Store data
    - Retrieve data
    - Update data
    - Delete data
- A database system (DBMS) is a software that manages the database in order to provide
    - data integrity
    - data security
    - efficient access to data

So how do you store unstructure data or raw data ?


## Flat Files as a Database
When referred as a medium of storing data, a **flat file** is usually a plain text file or spreadsheet document, where records usually follow a uniform format, but there are no structures for indexing or recognizing relationships between records.
 E.g, Consider a tution centre storing its students' information  using a text file with the following content

```
Name,   Gender, Age,    Contact,    Subjects
Alex,   M,      15,     91234567,   (Math, Science, English)
Ben,    M,      13,     ,           (English,Math)
Cindy,  Female, Fifteen,,
Damian, M,      15,     91111111,   (Science,Math,English)
Erica,  F,      13,     82222222,
Fanny,  F,      ,       93456788,   (English)
Gopal,  Male,   15,     82343434,   (Science)
Damian, M,      14,     61234562,   (English,Math)
Ben,    M,      13,     ,           (English,Math)
```



> Add blockquote


What are some potiential problems with the flat file ?


- INCONSISTENT DATA TYPES
- variable number of subjects in the last column
- empty fields/columns
- duplicates

## 6.1 Relational Database

**A Relational database** is a database where data are organised in one or more tables with relationships between them, i.e. a collection of relational tables.

A **table** (also called **relation** in relational database) is a two-dimensional representation of data stored in rows and columns. A table stores data about an **entity** – i.e. some “thing” about which data are stored, for example, a customer or a product.

In each table, a complete set of data about a single item is called a **record**, i.e. it's a row in a table.

On the other hand, a column in a table is called an **field**. **Attributes** are the describing characteristics or properties that define all items pertaining to a certain category applied to all cells of a column.


![record.png](images/field-record-value.png)

A database management system (DBMS) is a piece of software that provides the following features :
- basic database design, including tables, relationship and user queries
- a **data definition language (DDL)** that the database designer uses to define the tables of the database
- a data dictionary that includes:
    - the descriptions of tables, relationships and all design information such as indexing
    - the rules about data integrity including validation rules for all attributes.
- a **data manipulation language (DML)** called SQL:
    - for inserting, amending and deleting data records
    - backup of the database data
- control of multi-user access to the data.

## Example 1

The following table has 5 records and 3 fields, and the attributes are `Colour`, `Price` and `Stock`.

<center>

| `Colour` | `Price` | `Stock` |
|-|-|-|
| Red | 0.50 | 30 |
| Green | 0.50 | 18 |
| Yellow | 0.80 | 43 |
| Blue | 0.90 | 66 |
| White | 0.85 | 39 |

</center>

## Example 2

Attributes can be used to describe a table. The following table has the following description:

>```
>Student (RegNo, Name, Gender, MobileNo)
>```

- Table Name must be Singular Noun, PascalCase
<center>

| RegNo | Name | Gender | MobileNo |
|-|-|-|-|
| 1 | Adam | M | 92313291 |
| 2 | Adrian | M | 92585955 |
| 3 | Agnes | F | 83324112 |
| 4 | Aisha | F | 88851896 |
| 5 | Ajay | M | 94191061 |
| 6 | Alex | M | 98671715 |
| 7 | Alice | F | 95029176 |
| 8 | Amy | F | 98640883 |
| 9 | Andrew | M | 95172444 |
| 10 | Andy | M | 95888639 |

</center>

In general, a table in a relational database can be described as:

>```
>TABLE_NAME(ATTRIBUTE_1, ATTRIBUTE_2, ATTRIBUTE_3, ATTRIBUTE_4,....)
>```

Usually, the description of the entity are used for `TABLE_NAME` as well.

## Exercise 3

Provide the table description of the following table on number of balloons sold and in stock.

<center>

| `Colour` | `Price` | `AmountSold`| `Stock` |
|-|-|-|-|
| Red | 0.50 |40| 30 |
| Green | 0.50 |17| 18 |
| Yellow | 0.80 |57| 43 |
| Blue | 0.90 |24| 66 |
| White | 0.85 |36| 39 |

</center>

#YOUR_ANSWER_HERE
Ballon ( Colour, Price, AmountSold, Stock)

## 6.2 Properties of a table

Table in a relational database if it fulfills the following conditions:

- Values are **atomic**, i.e., for each record, each entry contains only 1 piece of information, e.g. in Example 2, a student cannot have 2 mobile phone numbers in the table.
- Columns are of the same kind i.e, Same Data type
- Rows are unique, i.e no repeated rows
- The order of columns is insignificant
- Each column must have a unique name
- Fixed number of columns

### 6.2.2 Key Fields

A **key field**, or **key** in short, are fields in a table that serve some special fuctions

There are different types of keys.

- A **primary key** is either a column or a combination of columns in a database that uniquely identifies the specific record in question.

- A **composite key** is a combination of two or more fields in a table that can be used to uniquely identify each record in a table. Uniqueness is only guaranteed when the fields are combined.


- A **foreign key** is a column (field) in one table that refers to the primary key in another table, i.e. it links to a primary key in a second table and form relationships between the tables. Foreign keys is indicated by using a dashed underline or asterisk `*`

$$\text{Student}\left(\underline{\text{MatricNo}},\text{ Name, Gender},\text{CivicsClass}^*\right)$$
$$\text{ClassInfo}\left({\underline{\text{CivicsClass}}},\text{ CivicsTutor, Homeroom}\right)$$

- A candidate key is a column/columns that **can be used** as the primary key. i.e. a primary key is a candidate key.

- A secondary key is a candidate key that is **not chosen** to be used as a primary key. They are usually used as an index to optimise searches in a table
## Exercise 4

Consider the following table.

<center>

| RegNo | Name | Gender | MobileNo |
|-|-|-|-|
| 1 | Adam | M | 92313291 |
| 2 | Adrian | M | 92585955 |
| 3 | Agnes | F | 83324112 |
| 4 | Aisha | F | 88851896 |
| 5 | Ajay | M | 94191061 |
| 6 | Alex | M | 98671715 |
| 7 | Alice | F | 95029176 |
| 8 | Amy | F | 98640883 |
| 9 | Andrew | M | 95172444 |
| 10 | Andy | M | 95888639 |

</center>

- What is/are the candidate key(s)?
- What is the primary key?

In [ ]:
#YOUR_ANSWER_HERE

## Exercise 5

Consider the following table.

<center>

| RegNo | Name | Gender | CivicsClass |
|-|-|-|-|
| 1 | Adam | M | 18S12 |
| 2 | Adrian | M | 18S12 |
| 3 | Agnes | F | 18S12 |
| 4 | Aisha | F | 18S12 |
| 5 | Ajay | M | 18S12 |
| 6 | Alex | M | 18S12 |
| 7 | Alice | F | 18S12 |
| 8 | Amy | F | 18S12 |
| 9 | Andrew | M | 18S12 |
| 10 | Andy | M | 18S12 |
| 1 | Adam | M | 18A10 |
| 2 | bala | M | 18A10 |
| 3 | Bee Lay | F | 18A10 |
| 4 | Ben | M | 18A10 |
| 5 | Boon Kiat | M | 18A10 |
| 6 | Boon Lim | M | 18A10 |
| 7 | Charles | M | 18A10 |
| 8 | Chee Seng | M | 18A10 |
| 9 | Cher Leng | F | 18A10 |
| 10 | Choo Tuan | M | 18A10 |

</center>

- What is/are the composite key(s)?

In [ ]:
#YOUR_ANSWER_HERE

## Example 6

Consider the following tables `Student` and `ClassInfo` respectively.

<center>

| RegNo | Name | Gender| CivicsClass |
|-|-|-|-|
| 1 | Adam | M | 18S12 |
| 2 | Adrian | M | 18S12 |

</center>

<br>
<center>

| CivicsClass | CivicsTutor | HomeRoom|
|-|-|-|
| 18S12 | Mr Tan | CR1 |
| 18A10 | Ms Aishya | CR2 |

</center>

- What is/are the primary key(s) in each table?
- What is the attribute in the table `ClassInfo` that is the foreign key in the `Student` table?

In [ ]:
#YOUR_ANSWER_HERE

# 6.3 Data Normalisation

Normalisation is a process to organise data in a database to
- reduce data redundancy
- maintain data integrity (accuracy and consistency of the data)

Consider an application that stores the products ordered by a customer in a flat file:


(Un-normalised form) **UNF**
```
Date, CustNum,    CustName,   City,       Country, Products (ProductName, Price, Num, ProductName, Price, Num, ...)
05062021, 005,        Bill Jones, London,     England, (Table,$50,1,Desk,$25,1, Chair,$10,3)
05062021, 008,        Amber Arif, Lahore,     Pakistan,(Desk,$25,2, Cupboard,$60,1)
05062021, 014,        M. Ali,     Kathmandu,  Nepal,   (Cabinet,$65,1)
05062021, 002,        Omar Norton,Cairo,      Egypt,   (Cupboard,$60,2,Table,$50,2,Desk,$25,2)
```
Can we import these data into a relational database table ?

CustNum, CustName,City

### 6.3.1 First Normal Form (1NF)

For a table to be in 1NF in the database all entities (objects of interest, e.g. person, item, place):

- all columns must be atomic,  
    - Columns would not hold a collection such as an array or another table. This means the information in each column cannot be broken down further.

- do not contain repeated groups of attributes.
    E.g of repeated groups in a table:
    ```
    Name,   Gender, Age,    Contact,    Subject, Subject, Subject
    Alex,   M,      15,     91234567,   Math,    Science, English
    ```
    
- every row must be unique, i.e. identify a primary key

We can create a `ORDER` table and insert the rows as follows to satify the 1NF requirement

**Order1** (NOT 1NF)

Date | CustNum | CustName | CityName | CountryName |  Product1_Name| Product1_Price | Product1_Num | Product2_Name| Product2_Price | Product2_Num | Product3_Name| Product3_Price |  Product3_Num |
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
05062021| 005 | Bill Jones | London | England |  Table | 50 | 1 | Desk | 25 | 1| Chair | 10 | 3 |
05062021| 008 | Amber Arif | Lahore | Pakistan|  Desk  | 25 | 1 | Cupboard|60| 1| |||
:
:


OR

**Order2** (1NF)

| Date| CustNum | CustName | CityName | CountryName |  ProductName| Price | Num |
|-|-|-|-|-|-|-|-|
05062021| 005 | Bill Jones | London | England |  Table | 50 | 1 |
05062021| 005 | Bill Jones | London | England |  Desk | 25 | 1 |
05062021| 005 | Bill Jones | London | England |  Chair | 10 | 3 |
05062021| 008 | Amber Arif | Lahore | Pakistan |  Desk| 25 | 2 |
05062021| 008 | Amber Arif | Lahore | Pakistan |  Cupboard| 60| 1 |
05062021| 014 | M. Ali | Kathmandu | Nepal |  Cabinet| 65| 1 |
05062021| 002 | Omar Norton | Cairo | Egypt |  Cupboard| 60| 2 |
05062021| 002 | Omar Norton | Cairo | Egypt |  Table| 50 |  2 |
05062021| 002 | Omar Norton | Cairo | Egypt |  Desk| 25 |  2 |

The table definitions are thefore:

**Order1( <u>Date</u>, <u>CustNum</u>, CustName, CityName, CountryName, Product1_Name, Product1_Price, Product1_Num, Product2_Name, Product2_Price, Product2_Num, Product3_Name, Product3_Price, Product3_Num)**

**Order2(  <u>Date</u>,<u>CustNum</u>, CustName, CityName, CountryName, <u>ProductName</u>, Price, Num)**

The tables above are now in **1NF**

***What is wrong with these tables ?***
-   An Insert anomaly may arise when a new product is in the inventory but no customer has order it yet
-   An Update anomaly may arise when a product price changes and NOT all the price for that product is updated successfully
-   A Delete anomaly may arise when a product is ordered by only 1 customer and that record is deleted, the product information is thus lost
    
Insertion anomalies can occur when we try to add data into the database but cannot do so without adding additional, unnecessary information.
Update anomalies happen when you update a piece of data in one place but not in all places where that data is stored. This can lead to inconsistencies in your data.
Deletion anomalies occur when you delete data from the database unintentionally. An example could be that you delete a row that represents the only record of a book that is published by a particular publisher, leading to a loss of data about the publisher (which we may not have intended to delete).

### 6.3.2 Second Normal Form (2NF)

To continue with our process of normalisation, we will look at the dependency between the attributes in a table.

Let $x,y$ be attributes in a table. We say that attribute $y$ is **functionally dependent** on attribute $x$ (usually the primary key), if for every valid instance of $x$, the value of $x$ **uniquely determines** the value of $y$, ($x \rightarrow y$).

Let $y$ be an attribute and $S$ be a set of attributes $ \{a,b,c\} $ of a table. $y$ is **fully dependent** on $S$ if all the attributes in $S$ are required to **uniquely determine** the value of $y$. i.e. $\{a,b,c\} \rightarrow y$

If not all the attributes are required, we say that $y$ is **partially dependent** on $S$.

For a table to be in 2NF:
- it has to be in 1NF
- every non-key attribute must be **fully** dependent on **all** of the primary key. This means no attribute can depend on part of the primary key only
- if the primary key of a table is **NOT** a composite key, the table is alreday in 2NF

The 1NF Table, Order2 right now, has 
- a composite primary key (Date, CustNum,ProductName)
- non Primay key attributes (CustName, CityName,CountryName, Price, Num)

So, we need to check if every non key attributes is dependent of ALL the attributes in the composite key

1.  { Date, CustNum,ProductName } $\rightarrow$ CustName  : False, only CustNum
2.  { Date, CustNum,ProductName } $\rightarrow$ CityName  : False, only CustNum
3.  { Date, CustNum,ProductName } $\rightarrow$ CountryName : : False, only CustNum
4.  { Date, CustNum,ProductName } $\rightarrow$ Price : False, only ProductName
5.  { Date, CustNum,ProductName } $\rightarrow$ Num : True

We can transform the `Order` table into 2NF by
- moving the set of dependent attributes to new table/s
    - ProductName $ \rightarrow $ Price, the Price is dependent on the ProductName
    - CustNum  $ \rightarrow $ { CustName, CityName, CountryName }, 
- linking the new table/s to the original table with a foreign key.

**New table Product**,  ProductName $ \rightarrow $ Price
| ProductName | Price |
| - | - |
| Table | 50 |
| Desk | 25 |
| Chair | 10 |
| Cupboard | 60 |
| Cabinet | 65 |

<br>

**New table Customer**, CustNum $ \rightarrow $ {CustName, CityName, CountryName}
| CustNum | CustName | CityName | CountryName |
|-|-|-|-|
| 005 | Bill Jones | London | England |
| 008 | Amber Arif | Lahore | Pakistan |
| 014 | M. Ali | Kathmandu | Nepal |
| 002 | Omar Norton | Cairo | Egypt |


<br>

**Original table**  {Date, CustNum, ProductName} $ \rightarrow $ Num
Date| CustNum |ProductName | Num |
-|-|-|-|
05062021| 005 |  Table | 1 |
05062021| 005 |  Desk | 1 |
05062021| 005 |  Chair | 3 |
05062021| 008 |  Desk | 2 |
05062021| 008 |  Cupboard | 1 |
05062021| 014 |  Cabinet | 1 |
05062021| 002 |  Table | 2 |
05062021| 002 |  Desk | 2 |
05062021| 002 |  Cupboard | 2 |

The tables definitions in 2NF are therefore:

**Product (<u>ProductName</u>, Price)**

**Customer ( <u>CustNum</u>, CustName, CityName, CountryName)**

**Order (
  <u>Date</u>,
<u>CustNum</u>
$^*$
  ,
<u>ProductName</u>
$^*$
,
Num
)**

### 6.3.3 Third Normal Form (3NF)

-   Be in 2NF
-   Any non-primary key attribute must **not** be dependent on any other non-key attribute



 Consider the `Customer(2NF)` table.


| CustNum | CustName | CityName | CountryName |
|-|-|-|-|
| 005 | Bill Jones | London | England |
| 008 | Amber Arif | Lahore | Pakistan |
| 014 | M. Ali | Kathmandu | Nepal |
| 002 | Omar Norton | Cairo | Egypt |



Note that the table is in 2NF but not in 3NF as the attribute CityName determines the attribute Country, CityName $ \rightarrow $ CountryName

So we have two non-key attributes which are dependent. ( if the City is London, then the Country is always going to be England, assuming that all the city names are unique)

To make it 3NF, we break the table down further into the following tables `Customer(3NF)` and `City`.



| CustNum | CustName | CityName |
|-|-|-|
| 005 | Bill Jones | London |
| 008 | Amber Arif | Lahore |
| 014 | M. Ali | Kathmandu |
| 002 | Omar Norton | Cairo |




<br>

| CityName | CountryName |
|-|-|
| London | England |
| Lahore | Pakistan |
| Kathmandu | Nepal |
| Cairo | Egypt |


</center>

To summarize, during the normalization process we end up with more tables, but each table is small enough to enable us to retrieve the information that we want and by that, we avoid data redundancy and maintain data integrity.

The final table definitions (relations) of the database is as follows:

**Product (<u>ProductName</u>, Price)**

**Customer ( <u>CustNum</u>, CustName, CityName $^*$)**

**City ( <u>CityName</u>, CountryName)**

**Order (
<u>Date</u>,
<u>CustNum</u>
$^*$
  ,
<u>ProductName</u>
$^*$
,
Num
)**

## 6.4 Entity-Relationship Diagram

Recall that entities are objects of which data are stored in the database. To illustrate the relationship between entities, an **entity–relationship diagram (E–R diagram)** can be used.

In an E-R diagram,
- entities are represented as rectangles, e.g the diagram below represent the entity customer

    <center>
    <img src="images/database-entity.png" height="100" align="center"/>
    </center>

  
    
- relationships, which are the between two entities, are represented therefore by specific lines connecting the rectangles. There are 3 types of relationships

- **one to many** : When a single instance of an entity is associated with more than one instances of another entity, e.g. A city has many customers, A customer can only come from 1 city

  <center>
    <img src="images/database-one-to-many.png" height="100" align="center"/>
    
    </center>

 - **many to many** : when more than one instances of an entity is associated with more than one instances of another entity, e.g. A customer can order many products, A product can be order by many different customer

    <center>
    <img src="images/database-many-to-many.png" height="100" align="center"/>
    </center>

-   **one to one** : when a single instance of an entity is associated with a single instance of another entity, This is used when you want to extend the attributes of a single entity to another table. e.g when you want to store inventory details for a product.

    <center>
    <img src="images/database-one-to-one.png" height="80" align="center"/>
    </center>


### Exercise 7

a) Transform the following information into 3NF by writing the table definitions

<center>

| MatricNo | Name | Gender | CivicsClass | CivicsTutor| HomeRoom|CCAInfo
|-|-|-|-|-|-|-|
|1|Adam|M|18S12|Peter Lim|TR1| Tennis Teacher IC = Adrian Tan
|2|Adrian|M|18S12|Peter Lim|TR1| Choir Teacher IC = Adeline Wong, Student Council Teacher IC = David Leong
|3|Adam|M|18A10|Pauline Lee|TR2| Rugby Teacher IC = Andrew Quah
|4|Bala|M|18A10|Pauline Lee|TR2| Badminton Teacher IC = Lilian Lim
|6|Bee Lay|F|18A10|Pauline Lee|TR2| Choir Teacher IC = Adeline Wong, Chess Club Teacher IC = Edison Poh

</center>

<u>primary Key</u>, foreign key $^*$

b) Draw the ERD for the database

## Exercises
[Worksheet 1](2_Worksheet1.pdf)

[Worksheet 2](3_Worksheet2.pdf)