In [ ]:
## Q1 Create DB and table
import sqlite3
con = sqlite3.connect("Inventory.db") # [1] open and close
#[1 all attributes correct]
#[1 PK correct]
sql = '''
CREATE TABLE IF NOT EXISTS Product (
ProductName TEXT,
Description TEXT,
Price INTEGER,
Image TEXT,
PRIMARY KEY(ProductName));
'''
con.executescript(sql)
con.close()

In [ ]:
# Q2 import data
import sqlite3, csv
try:
    con = sqlite3.connect("Inventory.db") #[1] open and close
    data = list(csv.reader(open("products.txt") ) )
    #[2] [[productName, Description, Price, Image], [], []]
    ## or
    #f = open("products.txt")
    #data = f.readlines() #[1]
    sql = '''
        INSERT INTO Product VALUES(?,?,?,?)
        '''#[1]
    for record in data[1:]:
        #record = record.strip().split(",") #[1]
        cur = con.execute(sql, record) #[1]
    print( f"{cur.rowcount} records inserted")
    con.commit()
except sqlite3.DatabaseError as ex:
    print(ex)
con.close()